<!-- <div class="container">
    <div class="center-content">
        <mat-form-field appearance="outline" style="width:700px;">
            <mat-label>Rechercher</mat-label>
            <input matInput type="text" placeholder="ex: " />
        </mat-form-field>
    </div>
</div> -->
<div style="padding:10px">

    <mat-grid-list cols="24" rowHeight="1:2" gutterSize="5">
        <mat-grid-tile *ngFor="let item of NbreOfPreselection">
            <div fxLayout="column" fxFill>
                <div fxFlex [style.background]="item" class="container"><span class="center-content">--:--</span>
                </div>
                <div fxFlex="40" style="background-color: whitesmoke"> </div>
                <div fxFlex style="background-color: rgb(67, 187, 31);"> </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="24" rowHeight="1:2" gutterSize="5">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="24" rowHeight="1:2" gutterSize="5">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile class="disabledTale">2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="24" rowHeight="1:2" gutterSize="5">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

</div>